*{
    box-sizing: border-box;
}
.canvas-tic-tac-toe{
    background-color: aqua;
    width:300px;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
}


.loser{
    background-color: red;
    width:300px;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    color:white;
  }
  .winner{
    background-color: green;
    width:300px;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    color:white;
  }
.cell{
    width:100px;
    height:100px;
    border:2px solid black;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellValue{
    font-size: 105px;
    text-align: center;
}
.black{
    color:black;
}

/* .canvas{
    display: flex;
} */

/* .row1,.row2,.row3{
    display: flex;
} */